.project {
  box-shadow: var(--shadow-light);
  transition: var(--trs);
}
.project:hover {
  box-shadow: var(--shadow-dark);
}
.link {
  display: block;
  text-decoration: none;
  color: inherit;
  &:hover {
    picture img {
      opacity: .2 !important;
    }
    .button {
      opacity: 1;
    }
  }
}
.img-container {
  position: relative;
  background: var(--color-primary);
  transition: var(--trs);
}
.img {
  transition: var(--trs);
}


.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--color-white-alpha-20);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  font-weight: 700;
  transition: var(--trs);
  cursor: pointer;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}


.footer {
  padding: 1rem;
  text-align: left;
}
.footer h3 {
  text-transform: capitalize;
  letter-spacing: 0;
  margin-right: 0;
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  margin-top: 0.5rem;
}
.info h6,
.info h4 {
  margin-bottom: 0;
  letter-spacing: 0;
  margin-right: 0;
}
.country {
  text-transform: capitalize;
  color: var(--color-primary);
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 0.4rem;
}
.details {
  font-weight: 700;
  color: var(--color-grey-alto);
  text-transform: uppercase;
  text-align: right;
}
