@import "bits";
@import "atoms/buttons";
@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway&display=swap');

:root {
  // http://chir.ag/projects/name-that-color
  --color-primary: deeppink;
  --color-primary-alpha-20: rgba(63, 208, 212, .2);
  --color-white: #fff;
  --color-white-alpha-20: rgba(255, 255, 255, .2);
  --color-white-alabaster: #f7f7f7;
  --color-grey-mine-shaft: #3d3d3d;
  --color-grey-mine-shaft-alpha-80: rgba(61, 61, 61, .8);
  --color-grey-gallery: #ececec;
  --color-grey-alto: #cfcfcf;
  --color-black: #000;
  --ff-body: 'Raleway', sans-serif;
  --ff-heading: 'Merriweather', serif;
  --fz-h1: 5rem;
  --fz-h2: 3.25rem;
  --fz-h3: 2.75rem;
  --fz-h4: 1.75rem;
  --fz-p: 1.125rem;
  --fz-small: 0.75rem;
  --fz-button: 1rem;
  --height-header: 4rem;
  --height-footer: 9rem;
  --ls: 1rem;
  --shadow-light: 2px 5px 3px 0px rgba(0, 0, 0, .5);
  --shadow-dark: 4px 10px 5px 0px rgba(0, 0, 0, .5);
  --trs: .3s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { font-size: 16px; }
@include breakpoint(small) {
  html {
    font-size: 14px;
  }
}
body {
  color: var(--color-mine-shaft);
  background: var(--color-white);
  font-family: var(--ff-body);
  line-height: 1.4em;
  font-size: var(--fz-p);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  margin-right: calc(-1 * var(--ls));
  line-height: 1em;
  letter-spacing: var(--ls);
}
p {
  margin-bottom: 1.25rem;
}
.color-primary {
  color: var(--color-primary);
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1 1 auto;

    .heading {
      font-family: var(--ff-heading);
      font-weight: 900;
    }
  }
}
.full-screen {
  min-height: calc(100vh - var(--height-header) - var(--height-footer));
  display: flex;
  justify-content: center;
  align-items: stretch;
}