@import "bits";
@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway&display=swap');

:root {
  // http://chir.ag/projects/name-that-color
  --color-primary: #3fd0d4;
  --color-white: #fff;
  --color-white-alabaster: #f7f7f7;
  --color-grey-mine-shaft: #3d3d3d;
  --alpha-grey-mine-shaft: rgba(61, 61, 61, .5);
  --color-grey-gallery: #ececec;
  --color-grey-alto: #cfcfcf;
  --transition: all 0.3s linear;
  --shadow-light: 2px 5px 3px 0px rgba(0, 0, 0, .5);
  --shadow-dark: 4px 10px 5px 0px rgba(0, 0, 0, .5);
  --ff-body: 'Raleway', sans-serif;
  --ff-heading: 'Merriweather', serif;
  --fz-h1: 5rem;
  --fz-h2: 3.25rem;
  --fz-h3: 2.75rem;
  --fz-h4: 1.75rem;
  --fz-p: 1.125rem;
  --fz-button: 1rem;
  --fz-small: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { font-size: 16px; }
@include breakpoint(small) {
  html {
    font-size: 14px;
  }
}
body {
  font-family: var(--ff-body);
  color: var(--color-mine-shaft);
  background: var(--color-white);
  line-height: 1.4;
  font-size: var(--fz-p);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  margin-bottom: 1.25rem;
  letter-spacing: var(--spacing);
}
p {
  margin-bottom: 1.25rem;
}
.hero {
  min-height: calc(100vh - 62px);
  background: linear-gradient(#3fd0d4b3, rgba(0, 0, 0, 0.7)),
    url("../images/defaultBcg.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-block;
  position: relative;
  padding: 1.125rem 1.5rem;
  border: 1px solid transparent;
  vertical-align: middle;
  background-image: none;
  user-select: none;
  font-size: var(--fz-button);
  font-style: normal;
  font-weight: 700;
  line-height: 1em;
  font-family: var(--ff-body);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  color: var(--color-grey-mine-shaft);
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;

  &.out-white {
     color: var(--color-white);
     border-color: var(--color-white);
  }
}