@import "../styles/_bits";

.footer {
    background-color: var(--color-grey-mine-shaft);
    color: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .5rem;
    height: var(--height-footer);

    .nav {
        a{
            text-transform: uppercase;
        }
    }

    @include breakpoint(nav-break) {

    }
}
