@import "../styles/_bits";

.header {
    z-index: 1;
    position: static;
    background-color: var(--color-grey-mine-shaft);
    color: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--height-header);
    padding: 0 .5rem;

    .button-home {
        margin-right: auto;
    }
    .name {
        color: var(--color-white);
        font-family: var(--ff-body);
        font-size: 2rem;
        font-weight: 100;
        margin: 0 .5rem;
    }
    .button-nav {
        display: none;
    }
    .icon-nav {
        fill: var(--color-white);
        width: 2rem;
        height: 2rem;
    }

    @include breakpoint(nav-break) {
        .header-button {
            display: block;
            padding: 1rem;
        }
        .nav {
            display: none;
            z-index: 1;
            position: fixed;
            top: var(--height-header);
            right: 0;
            bottom: 0;
            left:0;
            margin: 0;
            background-color: var(--color-grey-mine-shaft-alpha-80);
            font-family: var(--ff-heading);
            font-size: var(--fz-h3);
        }
        .show {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

}
