@import "../styles/_bits";

.nav{
  display: flex;
  margin: .5rem 0;
  padding: 0 .5rem;

  a {
    padding: .5rem .5rem;
    color: var(--color-white);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}