@import "../styles/_bits";

.nav{
  display: flex;
  padding: 0 .5rem;

  a {
    margin: 0 .5rem;
    color: var(--color-white);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


@include breakpoint(nav-break) {
  .nav {
    display: none;
    position: absolute;
    top: 4rem;
    right: 0;
    bottom: 0;
    left:0;
    background-color: var(--alpha-grey-mine-shaft);
    font-family: var(--ff-heading);
    font-size: var(--fz-h3);
  }
  .show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}