.social {
  display: flex;
  align-items: center;
  margin: .5rem;

  a {
    display: inline-flex;
    margin: 0 .5rem;
  }
  svg {
    fill: var(--color-white);
    width: 2rem;
    height: 2rem;
  }
}